* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  border: 0;
  outline: none;

  font-size: 1.4rem; // => (16px)
}

*::after,
*::before {
  box-sizing: border-box;
}

input,
select {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
}

a,
button {
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;

  object-fit: cover;
  object-position: center;
  -o-object-fit: cover;
  -o-object-position: center;

  user-select: none;
  pointer-events: none;
}

body {
  background-color: var(--color-white);
}
