@mixin anchor_button($margin: false) {
  width: 4rem;
  height: 4rem;

  background: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  @if $margin {
    margin: 0 1rem;
  }

  border-radius: 50%;

  &:hover {
    background-color: var(--color-light-gray);
  }
}
