@import './header_wrapper';

@import './header_menu';
@import './header_menu_mobile';

.header-container {
  @include full-width();

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 700px) {
    justify-content: right;
  }
}
